
h1
{
    font-weight:bold;
    font-size: 3rem;
}

body {  
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  
  
}
.submit1{
  margin-left: 250px;
  }
  .anc{
    font-size: larger;
    font-style: oblique;
  }
section {
  padding: 15rem 0 5rem 0;
  /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 43, 121, 1) 44%, rgba(0, 212, 255, 1) 100%); */
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(13, 191, 158, 1) 0%, rgba(4, 98, 152, 1) 100%, rgba(17, 225, 160, 1) 100%);

}

div.super-center {
  min-height: 100vh;
}


.super-center {
  margin-top: -15rem;
  display: grid;
  place-items: center;
}

#baggage-calc {
  --gap: 1em;
  display: grid;
  gap: var(--gap);
  
  padding: 2em;
  border: 2px solid black;
  border-radius: 0.5em;
  box-shadow: 0 0 0.4em 0.1em #0004;
}

#baggage-calc h1 {
  text-align: center;
}

@media(min-width: 40rem){
  #baggage-calc {
      grid-template-columns: repeat(2, min(calc(50% - var(--gap)), 20em));
  }
  
  #baggage-calc h1 {
    grid-column: span 2;
  }
}

#baggage-calc .input-group {
  display: flex;
  flex-flow: column;
  gap: 0.5em;
}

#baggage-calc label {
  color:black;
}

#baggage-calc :is(input, select){
  padding: 0.5em;
  font-size: 1.2rem;
}