* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    overflow-x: hidden;
}


header {
    color: whitesmoke;
    padding: 1em;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(41, 14, 68, 0.6225840678068102) 0%, rgba(4, 98, 152, 1) 100%, rgba(17, 225, 160, 1) 100%);
}

header a {
    text-decoration: none;
    color: #f2f2f2;
    padding: 1rem;
}


nav ul li a:hover {
    box-shadow: inset 200px 0 0 0 #54b3d6;
    color: black;
    transition: all 1s ease;
}


nav {
    display: flex;
    justify-content: space-between;
}



nav ul {
    list-style-type: none;
}

nav ul li {
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-left: 4rem;
    font-size: large;
}

.topnav {
    display: none;
}



.active {
    background-color: rgb(25, 115, 167);
}

menu {
    display: none;
    /* will be kept for media query when resizing */
}



/* submenu for navbar */

/* The subnavigation menu */
.subnav {
    display: inline-block;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(107, 114, 152);
    width: 100%;
    z-index: 3;
    border: 2px solid ghostwhite;
    height: 3.5rem;
}


/* Style the subnav links */
.subnav-content a {
    float: left;

}



/* When moving the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
    display: block;
    margin-top: 1rem;
}



@media (max-width:1300px) {


    nav {
        flex-direction: column;
        position: relative;
    }

    nav ul {
        background: whitesmoke;
        display: none;
    }

    /* Style the navigation menu */
    .topnav {
        display: block;
        overflow: hidden;
        position: relative;
        text-align: center;

    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
    }

    /* Style navigation menu links */
    .topnav a {

        color: white;
        padding: 5px;
        text-decoration: none;
        font-size: 15px;
        display: block;
    }

    /* Style the hamburger menu */
    .topnav a.icon {
        /* background: black; */
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav a:hover {

        background-color: #ddd;
        color: gray;
    }

}